<!DOCTYPE html>
<html>

   <head>
      <title>FCC | Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser</h1>
         <h3>Returns IP address, language and operating system of user's browser</h3>
        <a href="https://jm-whoami.glitch.me/whoami"><code>https://jm-whoami.glitch.me/whoami</code></a>
      </div>
   </body>

</html>
